$navbar-height: 75px;
$option-height: 50px;

$main-color: lighten(black, 10);
$accent-color: white;
$focus-color: black;
$tile-color: lighten(black, 25);
$correct-color: #79b058;
$hint-color: #fdcb58;

$alt-font: Bungee, "Helvetica Neue", Arial, sans-serif;
$main-font: "Helvetica Neue", Arial, sans-serif;

$mobile: 600px;

$hidden: -1;
$tiles: 1;
$dropdown-overlay: 2;
$dropdown: 3;
$navbar: 3;
$modal: 4;
